mixin slide(category, className)
	div(class="#{className.toLowerCase()}")
		h3= category

mixin project-tile(category, title)
	.panel.panel-default.col-md-4(class="#{category}" aria-hidden)
		.panel-body
			p= title

mixin category_link(category,className)
	a(class="#{className.toLowerCase()}" href="#")= category

mixin publicity(title, date, type, url, source)
	div.publicity
		small= type
		h4: a(href="#{url}" target="_blank") #{title}
		p.source= source
		p.date= date
